.main {
    margin-left: 320px;
    margin-right: 6px;
    overflow: hidden;
}
p {
    font-size: 14px;
}

.div_notes {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.notes {
    display: flex;
    margin-top: 20px;
}

@media (width < 920px) {
    .main {
        transition: margin 0.4s;
        margin-left: 122px;
    } 
}