.filter_container {
    margin-top: 7px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filter_btn {
    padding: 10px 35px 10px 0px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
}

