.main {
    margin-top: 20px;
    margin-right: 6px;
    overflow: hidden;
    position: fixed;
    left:  15%;
}

h2 {
    font-size: 25px;
    color: #fffffd;
    font-weight: 500;
}

.hr {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 3px;
    background-color: red;
}


.filter_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    gap: 25px;
    max-width: 100%;
}

@media (max-width: 920px) {
    .main {
        transition: margin 0.4s;
        margin-left: -20px;
    } 

    .filter_container {
        max-width: 100%;
        overflow-x: auto;
    }
}